@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.6;
  /* Background settings */
  background: linear-gradient(135deg, #1e1e2f, #23234a);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: #ffffff;
}

/* Defining the keyframes for the gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
}
